* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #21262c;
  color: aliceblue;
}

button {
  margin: 1rem 1rem 0.5rem;
  font: inherit;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #7eff4a;
  border-radius: 20px;
  margin-top: 300px;
}

img {
  width: 120px;
}
